
:root {
    --base-color: white;
    --text-color: black;


}

.darkmode {
    --base-color: black;
    --text-color: white;


}

#dark-light {
    position: absolute;
    right: 10%;
    top : 15%;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    /*background-color: var(--text-color);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Hides last one*/
#dark-light svg:last-child {
    display: none;
}
.darkmode #dark-light svg:first-child {
    display: none;
}
.darkmode #dark-light svg:last-child {
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--base-color);
    transition: background-color 0.4s ease, color 0.4s ease;
}

.header, .footer {
    text-align: center;
    display: flex;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.body-container iframe {
    width: 100%;
    height: 500px;
    border: none;
    overflow: hidden;
}

nav {
    display: flex;
    gap: 2rem;
    /*Find a way to not need this*/
    justify-content: center;
    padding: 1rem;
    /*Temp*/
    background-color: var(--text-color );
    position: relative;
}